<ul class="left">
    <li><a href="{{ path('store_index') }}">Menu</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('department_index') }}">Manage Store</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('account_orders') }}">Orders</a></li>
    <li class="divider"></li>
    {% if app.user.isAdmin or app.user.isEditor %}
        <li class="divider"></li>
        <li><a href="#">Users</a></li>
        <li class="divider"></li>
        {% if app.user.isAdmin %}
            <li><a href="#">Editors</a></li>
            <li class="divider"></li>
        {% endif %}
    {% endif %}
    <li><a href="{{ path('account_profile') }}">My Account</a></li>
</ul>