{% extends 'base.html.twig' %}

{% block title %}| Orders{% endblock %}

{% block body %}
    <section id="adminOrdersViewContainer" class="admin-content-container">
        <div class="row">
            <div class="large-12 columns">
                <h3>Orders</h3>

            </div>
        </div>
    </section>
{% endblock %}
