{% extends 'home.html.twig' %}

{% block title %}| About Us{% endblock %}

{% block body %}
    <section class="inner-content">
        <h2>ABOUT US</h2>
        <p>Tilbury + Skiff: Fresh Food Delivered</p>
        <p>We are a team of seasoned chefs that currently work both on and off Nantucket Island providing a variety of private food services to a demanding clientele.</p>
        <p>We have worked across the world - including San Francisco, New York, Chicago, Boston, and Beaune - but we are excited to launch our new concept on Nantucket which we feel is one of the most special places in the world.</p>
        <p>We know that while many of us like to cook, it is sometimes nice to take a break and have someone else do the work while we relax in our own home. We'll provide you with a choice of daily PREPARED FOODS, you can have custom chef-prepared meal any evening for 2 or 20 with just a few clicks!</p>
        <p>We also know that in our busy lives, it is frustrating to open the frig and not have the right thing to eat.   We love to "stock up" on delicious, nourishing and healthy (lo-carb, lo-cal, etc) portion controlled food in our refrigerators so we can grab it and go (to the office, beach, or just to the couch!) Our STOCK UPS offering is focused on that' nourishing food that gives you the right energy fast and conveniently - and that keeps for days. For breakfast, lunch, dinner or anytime!</p>
        <p>Going to the grocery store is a nightmare - we know, we've been there. We've created our STAPLES selections to let you avoid the store. Be it anything from coffee to fresh produce to speciality nantucket products, we'll bring it to you just in time for the weekend.</p>
        <p>Lastly, we thank you for your patience as we continually add to and improve our service.</p>
        <p> We are sure you have great ideas and suggestions for us - do with us at  <a href="mailto:info@enjoykitchenonline.com">info@enjoykitchenonline.com</a>.</p>
    </section>
{% endblock %}

