{% extends 'home.html.twig' %}

{% block title %}| Privacy{% endblock %}

{% block body %}
    <section class="inner-content">
        <h2>Privacy Policy (updated July 2014)</h2>
        <p>Please also visit our Terms of Use section that explains other terms governing the use of our website.
        <p>Thank you for accessing the website (the "Site") of Island Kitchen, LLC DBA Tilbury + Skiff ("T+S," "we" or
            "us"). At T+S, we are committed to protecting the privacy and security of your personal information. To
            learn more, please read this privacy policy that follows (the "Privacy Policy").
        <p>This Privacy Policy describes the types of personal information we may collect, how we may use this
            information and when (under certain circumstances) we may disclose this information. This Privacy Policy
            also details the steps we have taken to secure your personal information. By visiting our Site, you accept
            the practices described in this Privacy Policy.
        <p>We are not responsible for the content on, or privacy practices of, any non-T+S.com web site to which this
            Site links or that links to this Site.
        <h3>INFORMATION COLLECTION</h3>
        <p>T+S will not collect any personal information about you except when specifically and knowingly provided by
            you. Examples of such information are name, shipping and billing addresses, phone number, email address,
            credit card information and customer preferences data. Examples of ways in which we may collect such
            information from you include the following:
        <p>A.</p>
        <p>Registration and Ordering. Before using certain parts of this Site or ordering products, you must complete a
            registration form. When registering, you will be prompted to provide certain personal information, including
            but not limited to your name, shipping and billing addresses, phone number, email address, and credit card
            number. In addition, you may also be asked to provide your country of residence and/or your organization's
            country of operation, so we can comply with applicable laws and regulations, and for your gender. These
            kinds of personal information are used for billing purposes, to fulfill your orders, to communicate with you
            about your order and this Site, and for internal marketing purposes. If we encounter a problem when
            processing your order, we will use the personal information to contact you.
        <p>B.
        <p>Email Addresses. Some areas of the Site allow you to enter your email address for purposes including, but not
            limited to opening a T+S account.
        <p>C.</p>
        <p>Cookies. Like most other websites,T+S uses cookie technology throughout this Site. A cookie is a small
            removable data file that is stored by your web browser on your computer. Cookies are used to provide
            customers with tighter security, customized content, tracking of orders and shopping cart items.
            Unfortunately, customers who turn off cookies in their browser settings will not be able to shop from this
            Site. THIS SITE'S COOKIES DO NOT AND CANNOT INFILTRATE A USER'S HARD DRIVE TO GATHER A USER'S CONFIDENTIAL
            INFORMATION. Our cookies are not "spyware."
        <h3>INFORMATION USE</h3>
        <p>We do not sell or rent information about our customers and all information provided to T+S remains absolutely
            confidential, except that:
        </p>
        <p>A.</p>
        <p>We may share aggregate or summary information regarding our customers with partners, advertisers or other
            third parties. This data will never identify you personally.
        </p>
        <p>B.</p>
        <p>We may share information with companies that provide support services to us (such as a printer, mailing
            house, fulfillment company or web host) or that help us market our products and services. This information
            may also be shared with marketers whose products or services we feel may be of interest to you. These
            companies may need information about you in order to perform their functions. These companies are not
            authorized to use any personal information we share with them about you for any other purpose.
        </p>
        <p>C.</p>
        <p>We will use your personal information to communicate with you about your orders and deliveries, and we may
            send you a confirmation email when you register/place an order with us. Also, if you submit your email
            address to open a T+S account, we use it to deliver the information to you.
        </p>
        <p>D.</p>
        <p>We may be required to disclose such information in response to subpoenas, court orders, requests from
            law-enforcement officials, or if we are otherwise required to disclose such information by law.
        </p>
        <p>E.</p>
        <p>We may publicly disclose the name, city, and state of the winner of any online sweepstakes.</p>
        <h3>PROTECTING YOUR INFORMATION</h3>
        <p>Shopping on the Site is easy, secure and worry-free. We have taken several measures to guarantee that
            your order and your credit card information are safe and secure. Our servers use Secure Sockets Layer (SSL),
            an advanced encryption technology that works with Microsoft Internet Explorer (version 3.0 and above),
            Netscape Navigator (versions 2.0 and above), AOL (AOL 3.0 and above), and many other browsers. The Site?s
            security has been tested & verified by McAfee Secure Sign.
        </p>
        <p>SSL is considered the industry standard and is among the leading software available to encrypt online
            transactions. Your personal information including your name, credit card number and address is encrypted so
            that it cannot be read as it is transmitted over the Internet. Regardless of these efforts, no data
            transmission over the Internet can be guaranteed to be 100% secure. Therefore, any information you transmit
            to us is sent at your own risk.</p>
        <h3>CHILDREN?S PRIVACY</h3>
        <p>We do not intentionally collect personally identifiable information from children under the age of
            thirteen. If we become aware that we have collected personally identifiable information from a user of the
            Site who is under the age of thirteen, we will remove that child?s personal information from our files.
        <h3>OPT OUT / CORRECTIONS</h3>
        <p>Upon your request, we will (a) correct or update your personal information; (b) stop sending emails to
            your email address; and/or (c) disable your account to prevent any future purchases through that account.
            You can make these requests by emailing your request to T+S?s Customer Support department at
            support@tilburyandskiff.com. Please clearly label the subject line "Opt Out / Corrections," and do not email
            your credit-card number or other sensitive information.</p>
        <h3>OFFLINE COLLECTION, USE & DISCLOSURE OF INFORMATION</h3>
        <p>The majority of information that we collect is obtained through our Site, and this Privacy Policy applies
            only to that online collection of personal information. We also collect information offline, where we also
            try to protect the privacy of your personal information. One example involves someone calling us to place an
            order or to ask questions. When someone calls, we will ask only for the personal information we need in
            order to place the order or to answer the question. When we need to store information (such as order
            information), we will enter it into our database through SSL encryption. (See the Protecting Your
            Information section above for more information).</p>
        <h3>POLICY CHANGES</h3>
        <p>We may change our Privacy Policy from time-to-time. We encourage you to refer to this Privacy Policy on
            an ongoing basis so that you understand our current Privacy Policy.</p>
        <h3>QUESTIONS AND FEEDBACK</h3>
        <p>We welcome your questions, comments and concerns about privacy. Please send us any and all feedback
            pertaining to privacy, or any other issue at support@tilburyandskiff.com.</p>
        <h3>TERMS AND CONDITIONS</h3>
        <p>Please also visit our Terms of Use section that explains other terms and conditions governing our Site.</p>
    </section>
{% endblock %}

