{% extends 'base.html.twig' %}

{% block title %}| Your Shopping Cart{% endblock %}

{% block body %}
    <section id="productsContainer">
        {{ dump(cart) }}


        cart content goes here...

    </section>
{% endblock %}
